<div class="container">
  <h1>TwitScrape</h1>
    <div id="loading" style="display: none;">
      <img src="/ajax-loader.gif">
    </div>
    <div id="tweet_list">
    </div>
    <form method="post" action="/loading" id="user_form">
      <input type="text" name="username" placeholder="Enter a username" />
      <input type="submit" value="Get Tweets" />
    </form> 
</div>
